APP_NAME="Medic BE App Testing"
APP_ENV=testing
APP_KEY=base64:MTIzNDU2Nzg5MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTI=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=4

LOG_CHANNEL=null
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=":memory:"
DB_URL=

BROADCAST_CONNECTION=null
CACHE_STORE=array
FILESYSTEM_DISK=local
MAIL_MAILER=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array

PULSE_ENABLED=false
TELESCOPE_ENABLED=false
NIGHTWATCH_ENABLED=false

MIDTRANS_MERCHANT_ID=test-merchant
MIDTRANS_CLIENT_KEY=test-client-key
MIDTRANS_SERVER_KEY=test-server-key
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_IS_SANITIZED=true
MIDTRANS_IS_3DS=true
MIDTRANS_FINISH_URL=
MIDTRANS_UNFINISH_URL=
MIDTRANS_ERROR_URL=
